#side {
  position: fixed;
  right: 0;
  border-left: 1px solid black;
  width: 300px;
}

#room-selection { 
  margin: 12px 0;
}

#side h3 {
  margin: 0;
}

#room-list {
  padding: 0;
  margin: 12px 0;
  list-style-type: none;
}

#room-list .room {
  cursor: pointer;
}
